.formForgotPassword {
  width: 1139px;
  height: 1001px;
  position: relative;
  border-radius: 50px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.logoIcon {
  height: 184px;
  width: 181px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.logoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 43px;
}
.forgotPassword3 {
  margin: 0;
}
.forgotPassword2 {
  position: relative;
  z-index: 1;
}
.forgotPasswordWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 3px 0 0;
}
.email {
  position: relative;
  display: inline-block;
  min-width: 92px;
  z-index: 1;
}
.emailWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 26px 0 20px;
}
.inputEmail {
  border: 0;
  outline: 0;
  background-color: rgba(217, 217, 217, 0.4);
  align-self: stretch;
  height: 80px;
  position: relative;
  border-radius: 15px;
  min-width: 250px;
  z-index: 1;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 18px;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 36px 3px;
  box-sizing: border-box;
  font-size: 36px;
}
.frameChild {
  height: 80px;
  width: 1036px;
  position: relative;
  border-radius: 25px;
  display: none;
  max-width: 100%;
}
.submit {
  width: 138px;
  position: relative;
  font-size: 35px;
  display: inline-block;
  font-family: Rubik;
  color: #fff;
  text-align: left;
  flex-shrink: 0;
  z-index: 1;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 18px 20px 19px 26px;
  background-color: #00173d;
  align-self: stretch;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.vectorParent:hover {
  background-color: #334a70;
}
.forgotPassword,
.forgotPassword1,
.formForgotPasswordParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.formForgotPasswordParent {
  width: 1139px;
  border-radius: 50px;
  background-color: #fff;
  flex-direction: column;
  padding: 37px 48px 219px 52px;
  box-sizing: border-box;
  gap: 85px;
  max-width: 100%;
}
.forgotPassword,
.forgotPassword1 {
  overflow: hidden;
  flex-direction: row;
}
.forgotPassword1 {
  height: 1132px;
  width: 1747px;
  background-color: #e8f1f2;
  flex-shrink: 0;
  padding: 45px 289px;
  box-sizing: border-box;
  debug_commit: bf4bc93;
  max-width: 102%;
  text-align: left;
  font-size: 40px;
  color: #000;
  font-family: Rubik;
}
.forgotPassword {
  width: 100%;
  height: 1117px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1150px) {
  .formForgotPasswordParent {
    gap: 42px;
    padding-left: 26px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .forgotPassword1 {
    padding-top: 29px;
    padding-bottom: 29px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1025px) {
  .forgotPassword2 {
    font-size: 32px;
  }
  .email {
    font-size: 29px;
  }
  .submit {
    font-size: 28px;
  }
  .formForgotPasswordParent {
    padding-top: 24px;
    padding-bottom: 142px;
    box-sizing: border-box;
  }
  .forgotPassword1 {
    padding-left: 144px;
    padding-right: 144px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .formForgotPasswordParent {
    gap: 21px;
    padding-top: 20px;
    padding-bottom: 92px;
    box-sizing: border-box;
  }
  .forgotPassword1 {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .forgotPassword2 {
    font-size: 24px;
  }
  .email {
    font-size: 22px;
  }
  .submit {
    font-size: 21px;
  }
  .forgotPassword1 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
