.changePasswordFrame {
  height: 149.6px;
  width: 1041px;
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  display: none;
  max-width: 100%;
}
.changePassword,
.iconGroup {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.iconGroup {
  height: 38.9px;
  width: 34.7px;
}
.changePassword {
  flex: 1;
  font-size: 22px;
  font-family: Inter;
  color: #000;
  text-align: center;
  display: inline-block;
  min-width: 115px;
  padding: 0;
}
.footerItemPair {
  width: 272px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 45.3px;
}
.backwardIcon {
  height: 29.9px;
  width: 16px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.menuChangePassword {
  cursor: pointer;
  border: 0;
  padding: 50px 27px 59.9px 50px;
  background-color: #fff;
  align-self: stretch;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  z-index: 1;
}
@media screen and (max-width: 1275px) {
  .menuChangePassword {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1225px) {
  .menuChangePassword {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .menuChangePassword {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .changePassword {
    font-size: 18px;
  }
  .footerItemPair {
    gap: 23px;
  }
  .menuChangePassword {
    padding-left: 25px;
    box-sizing: border-box;
  }
}
