.password1 {
  position: relative;
}
.password {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
  z-index: 1;
  text-align: left;
  font-size: 36px;
  color: #000;
  font-family: Rubik;
}
@media screen and (max-width: 1025px) {
  .password1 {
    font-size: 29px;
  }
}
@media screen and (max-width: 450px) {
  .password1 {
    font-size: 22px;
  }
}
